/* CSS HEX */
/* --seal-brown: #582f0eff;
--russet: #7f4f24ff;
--coyote-brown: #936639ff;
--camel: #a68a64ff;
--khaki-web: #b6ad90ff;
--laurel-green: #c2c5aaff;
--laurel-green-2: #a4ac86ff;
--dark-olive-green: #656d4aff;
--rifle-green: #414833ff;
--kombu-green: #333d29ff; */
* {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.text-box {
  background-color: #c2c5aa;
  color: #582f0e;
  width: 250px;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
h1 {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  padding-bottom: 1rem;
}
.container {
  background-color: #334622;
  border: 1px solid black;
  border-radius: 1rem;
  max-width: 40vw;
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
}

button {
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: #c2c5aa;
  border: 1px solid black;
  border-radius: 0.25rem;
  box-shadow: black 0 0px 0px 0;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 1rem 1rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #a4ac86;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #000000;
}

button:active {
  transform: translateY(+1px);
}

img {
  max-width: 80%;
  border: 0.1rem solid black;
}

p {
  padding: 1rem;
  margin: 0 auto;
  max-width: 80%;
  font-size: 1.25rem;
}

.charName {
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: underline;
}
