* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
}
.nav-list {
  margin: 0;
  padding: 0;
  background-color: #888;
}

.nav-list li {
  display: inline-block;
}

.nav-list li a {
  font-size: 2rem;
  display: block;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
}

.nav-list li a:hover {
  background-color: #ddd;
}

footer {
  width: 100vw;

  bottom: 0;
}

footer ul {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}

.products-container {
  width: 100vw;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  place-items: center;
}

.product:hover {
  transition: 0.1s;
  transform: scale(1.1);
}
.product img {
  width: 20rem;
}
